/* Stili per le card */
.card {
    flex: 1;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dee2e6;
    border-radius: 15px;
    width: 100%;
}

/* className per testo con gradiente */
.b-gradient-text {
    background: linear-gradient(to bottom right, #0d6efd, #001f3f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ClassName per il carosello */
.carousel {
    height: 100%;
    overflow: hidden;
}

.carousel .carousel-item img {
    object-fit: contain;
    display: block;
}

/* ClassName per i form di registrazione e login*/
.form-card {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dee2e6;
    border-radius: 15px;
    width: 500px;
}

/* ClassName per gli input*/
.input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    font-size: 20px;
}

/* ClassName per i pulsanti*/
.button {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 25px;
}

/* Cerchio della glicemia */
.circle-slot {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}
.inner {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);

}
#number {
    font-size: 50px;
    color: #555;
}

.btn-avvisi {
    margin-right: 30px;
    border-radius: 25px;
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-avvisi:hover {
    background-color: red;
    color: white;
    border-color: red;
}

/* Pill dei navlink */
.nav-pills .nav-link {
    border-radius: 25px;
}

/* ClassName per i box con disposizione row */
.flex-row {
    display : flex;
    flex-direction: row;
}

/* ClassName per i box con disposizione column */
.flex-col {
    display : flex;
    flex-direction: column;
}

/* ClassName per flex 1*/
.f-1 {
    flex: 1
}

/* ClassName per flex 2*/
.f-2 {
    flex: 2;
}

/* ClassName per flex 3*/
.f-3 {
    flex: 3;
}

/* ClassName per border: none */
.n-border {
    border: none;
}

/* ClassName per border-radius 25px*/
.rounded-25 {
    border-radius: 25px;
}

/* ClassName per border-radius 15px*/
.rounded-15 {
    border-radius: 15px;
}

/* ClassName per contenitori scrollabili verticalmente */
.scrollable {
    overflow-y: auto;
}

/* ClassName colore del contenitore #f8f9fa */
.l-gray {
    background-color: #f8f9fa;
}

/* ClassName per gap 40px*/
.g-40 {
    gap: 40px;
}

/* ClassName per gap 30px */
.g-30 {
    gap: 30px;
}

/* ClassName per gap 20px */
.g-20 {
    gap: 20px;
}

/* ClassName per gap 10px */
.g-10 {
    gap: 10px;
}

/* ClassName per padding 40px */
.p-40 {
    padding: 40px;
}

/* ClassName per padding 30px */
.p-30 {
    padding: 30px;
}

/* ClassName per padding 20px */
.p-20 {
    padding: 20px;
}

/* ClassName per padding 15px */
.p-15 {
    padding: 15px;
}

/* ClassName per padding 10px */
.p-10 {
    padding: 10px;
}

/* ClassName per l'allineamento */
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ClassName per font-size 18px */
.font-18 {
    font-size: 18px;
}

/* ClassName per font-size 20px */
.font-20 {
    font-size: 20px;
}

/* ClassName per font-size 25px */
.font-25 {
    font-size: 25px;
}

/* ClassName per font-size 85px */
.font-85 {
    font-size: 85px;
}

/* ClassName per font-size 115px */
.font-115 {
    font-size: 115px;
}

/* ClassName per font-weight  */
.font-bold {
    font-weight: bold;
}

/* ClassName per testo centrato */
.center {
    text-align: center;
}

/* ClassName per il colore del font grigio */
.gray {
    color: gray;
}