/* Stili per le card */
.card {
    flex: 1;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #dee2e6;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

/* ClassName per i form di registrazione e login*/
.form-card {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #dee2e6;
    border-radius: 15px;
    width: 500px;
}

/* ClassName per gli input*/
.input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    font-size: 20px;
}

/* ClassName per i pulsanti*/
.button {
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 25px;
}

/* Cerchio della glicemia */
.circle-slot {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}
.inner {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);

}
#number {
    font-size: 50px;
    color: #555;
}